
<!-- this creates a google map on the page with the given lat/lng from -->
<!-- the component as the initial center of the map:-->
<input #name>
<input #l>
<input #t>
<button (click)="drawPolygon(name.value,l.value,t.value)">Draw</button>
<sebm-google-map [styles]="satellite" [latitude]="lat" [longitude]="lng" [streetViewControl]="true"
 (mapClick)="mapClicked($event)">
  <!--<sebm-google-map-marker [latitude]="lat" [longitude]="lng" [title]="abc" [label]="oogabooga"></sebm-google-map-marker>-->
<!--<app-marker [lng]="lng" [lat]="lat" [name]="'B'" ></app-marker>-->
<app-marker *ngFor="let k of data" [lng]="k.longitude" [lat]="k.latitude" [name]="k.user"></app-marker>
<app-marker *ngFor="let k of pathArray" [lng]="getLng(k)" [lat]="getLat(k)" [name]="getUser(k)"></app-marker>
<!--<app-path *ngFor="let k of pathArray" [pathArray]="createPath(k)"></app-path>-->
<sebm-map-polygon *ngFor= "let k of paths" [paths]="k" [editable]="true" [visible]="show" [fillOpacity]="0"></sebm-map-polygon>
<!--<app-nav-item *ngFor="let k of arr" [item]="k"></app-nav-item>-->

