
<app-polyline *ngFor="let k of pathArray" [lat1]="k.lat1" [lat2]="k.lat2" [lng1]="k.lng1" [lng2]="k.lng2"></app-polyline>

<!--<app-polyline [lat1]="pathArray[0].lat1" [lat2]="pathArray[0].lat2" [lng1]="pathArray[0].lng1" [lng2]="pathArray[0].lng2"></app-polyline>

<app-polyline [lat1]="pathArray[1].lat1" [lat2]="pathArray[1].lat2" [lng1]="pathArray[1].lng1" [lng2]="pathArray[1].lng2"></app-polyline>

<app-polyline [lat1]="pathArray[2].lat1" [lat2]="pathArray[2].lat2" [lng1]="pathArray[2].lng1" [lng2]="pathArray[2].lng2"></app-polyline>-->